<%- include('../partials/head') %>

    <h1>welcome to Home works</h1>
    <a href="/users/<%= user._id %>/homeworks/new" class="btn btn-primary mb-3">
        Add New Homework
    </a>

    <%- include('../partials/footer') %>