<%- include('../partials/head') %>
<div class="container">
    <h1>Add New Homework</h1>
    <form action="/users/<%= user._id %>/homeworks" method="POST" class="form-container">
        <div class="form-group">
            <label for="courseCode">Course Code:</label>
            <input type="text" name="courseCode" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="date" name="dueDate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="notes">Additional Notes:</label>
            <input type="text" name="notes" class="form-control">
        </div>
        <div class="form-group">
            <label for="completed">Completed:</label>
            <input type="checkbox" name="completed" value="true">
        </div>
        <button type="submit" class="btn btn-primary">Add Homework</button>
    </form>
</div>
<%- include('../partials/footer') %>