<%- include('../partials/head') %>
    <div class="container">
        <h1>Add a new Home Work </h1>
        <form action="/users/<%= user._id %>/homeworks" method="POST">

            <label for="courseCode">Course Code:</label>
            <input type="text" name="courseCode" required>

            <label for="dueDate">dueDate: </label>
            <input type="date" name="dueDate" required>
            <label for="notes">Additional notes</label>
            <input type="text" name="notes">
            <label for="completed">completed:</label>
            <input type="checkbox" name="completed" value="true">
            <button type="submit" class="btn btn-primary">Add Food</button>
        </form>
    </div>
    <%- include('../partials/footer') %>