<%- include('../partials/head') %>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Explore Our Community</h1>
        <div class="user-list d-flex flex-wrap justify-content-center">
            <% users.forEach(user=> { %>
                <div class="user-card m-2 p-3 border rounded text-center">
                    <a href="/users/<%= user._id %>" class="btn btn-outline-primary btn-block">
                        <%= user.username %>
                    </a>
                </div>
                <% }) %>
        </div>
    </div>
    <%- include('../partials/footer') %>